# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
.run
run
runs
run-data

repo
/.run/RemnantRelics-1.21.X [runClient].run.xml
